body {
  font-family:Arial, sans-serif;
  background-color: white;
}

h1 {
  padding-left: 20px;
  font-family:san-serif;
  color:black;
}

a {
  text-decoration:none;
  color:#000099;
  /*color:#104e77;*/
}

a:hover {
  /*color:#77b6e2;*/
  color:red;
}

#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
    background-color: #ffffe6;
}
